@model Telemedicina.Models.Complejo.ComplejoUsuario
@{
    ViewData["Title"] = "Agregar Complejo Asistente";
}

<h1>Vincular Asistente Remoto a Complejo</h1>
<form method="post" action="ComplejoAsistRD" class="mt-5">

    <div class="formu">

        <label for="" class="form-label">Nombre Asistente Remoto:</label>
        <select class="" asp-for="AsistenteRemotoId">
            @foreach (var asistentesremotos in Model.AsistenteRemotos)
            {
                <option value="@asistentesremotos.Id">@asistentesremotos.Nombre @asistentesremotos.Apellidos</option>
            }
        </select>
        <br />
    </div>

    <div class="formu">
        <label for="" class="form-label">Complejo</label>
        <select class="" asp-for="ComplejoId">
            @foreach (var complejos in Model.Complejos)
            {
                <option value="@complejos.Id">@complejos.Nombre</option>
            }
        </select>

    </div>

    <button type="submit" class="btn btn-primary">Vincular</button>

    <button type="post" class="btn btn-secondary" asp-controller="Complejo" asp-action="back3">
        Cancelar
    </button>
</form>